# Literals

types of literals: 
1. Numeric (integer, float, complex)
2. String
3. list 
4. dictionary(dict)
5. set 
6. 
7.
8.

In [3]:
1. Numeric (integer, float, complex)

<class 'int'>
<class 'float'>

In [4]:
x = 10
print(type(x))
x = 10.5
print(type(x))
x = 5 + 6j
print(type(x))

<class 'int'>
<class 'float'>
<class 'complex'>

2. string

I.Collection of characters.
II. Represented in.single line:- (' ', " "), multiline:-(''' ''')

In [5]:
x = ' python '
y = " java "
z = '''php'''
print(x,y,z)

# x = 'python
#     language'
# print(x)
# y = "java
#       language"
# print(y)
z = '''pyhon
       language'''
print(z)

 python   java  php
pyhon
       language

In [7]:
x = 'python is "programming" language'
print(x)

python is "programming" language

3. list

colllection of element.
collection of same data type element :- (hemogenous)
collection of different element :- (hitrogenous)

represented in[] with comma () seperated element.

In [2]:
l = [10, 20,"python",['java','PHP']]
print(type(l))

<class 'list'>

In [3]:
l = [10, 20,30,40]
print(type(l))

<class 'list'>

In [4]:
l = ["java","python"]
print(type(l))

<class 'list'>

In [7]:
t = (10, 20,"python",10.5,['java','PHP'])
print(type(t))

<class 'tuple'>

In [8]:
t2 = ("jva","python",'php')
print(type(t2))

<class 'tuple'>

4.dictionay(dict)
Collection of element('key':'Value') pair.

In [9]:
d = {'name':'ayush', 'age':37,'surname':'rusiya'}
print(type(d))

<class 'dict'>